<div class="search">
<h2>Add Author to My Favorites</h2>

<% if !@no_results.nil? %>
   <p><%= @no_results %></p>
   <%= link_to "Search again", new_author_path %>
<% elsif @no_results.nil? && @new_author.nil? && @new_title.nil? %>
   <p>Did you mean?</p>
   <ul>
      <% @choose_author.each do |author| %>
      <% if author.is_a? Enumerable %>
      <li><%= author.join(", ") %>
      <% else %>
      <li><%= author %>
      <% end %> 
      <%= button_to 'Add', action: 'create', name: author %></li>
      <% end %>
      
      <p><%= link_to "None of these are correct", new_author_path %></p><br />
      <p>Notice: If the author you are searching for has different ways of writing their name, please add all instances of the author's name for the most acurate results.</p>
<% else %>
   <h3><%= @new_author %></h3>
   <%= button_to 'Add', class: "user_button", action: 'create', name: @new_author %>
<% end %>
   </ul>
</div>