<div class="search">
<h2>Add a Book to My Library</h2>

<% if !@no_info.nil? %>
   <p><%= @no_info %></p>
<% elsif @new_book.nil? %>
   <p>Did you mean?</p>
   <ul>
      <% @choose_book.each do |book| %>
         <% if book['ItemAttributes']['Author'].is_a? Enumerable  %>
         <li><%= book['ItemAttributes']['Title'] %> by <%= book['ItemAttributes']['Author'].join(", ") %></li>
         <% else %>
         <li><%= book['ItemAttributes']['Title'] %> by <%= book['ItemAttributes']['Author'] %></li>
         <% end %> 
         <%= button_to 'Add', action: 'create', title: book['ItemAttributes']['Title'], author: book['ItemAttributes']['Author'] %>
      <% end %>

      <%= link_to "None of these are correct", new_book_path %>
<% else %>
   <h3><%= @new_book['ItemAttributes']['Title'] %> by <%= @new_book['ItemAttributes']['Author'] %></h3>
   <%= button_to 'Add', action: 'create', title: @new_book['ItemAttributes']['Title'], author: @new_book['ItemAttributes']['Author'] %>
<% end %>
   </ul>
</div>